name: Actualizar Carreras Diariamente

# Se ejecuta cada d铆a a las 06:00 AM UTC
on:
  schedule:
    - cron: '0 6 * * *'
  # Tambi茅n permite ejecutarlo manualmente desde la web de GitHub
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    # Solo necesitamos leer el c贸digo, no escribir
    permissions:
      contents: read

    steps:
      - name: Descargar c贸digo del repositorio
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librer铆as
        run: |
          pip install -r requirements.txt

      - name: Ejecutar Scrapers y Fusi贸n
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python main.py

      - name: 2. Publicar en Instagram
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python instagram.py

      # Ya no hace falta guardar carreras.db porque todo est谩 en Supabase
#      - name: Guardar cambios (Commit & Push)
#        run: |
#          git config --global user.name 'Actualizador Automatico'
#          git config --global user.email 'bot@noreply.github.com'
#          git add carreras.db
#          git diff --quiet && git diff --staged --quiet || (git commit -m " Actualizaci贸n autom谩tica de carreras" && git push)
